<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.harshi.tinderforrecipes">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/aaaaa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aaaaa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".firstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".MainSwipeActivityNonvegBreakfastdiet1"/>
        <activity android:name=".MainSwipeNonvegLunch1"/>
        <activity android:name=".MainSwipeNonvegDinner1"/>
        <activity android:name=".MainSwipeVegBreakfast1"/>
        <activity android:name=".MainSwipeVegLunch1"/>
        <activity android:name=".MainSwipeVegDinner1"/>
        <activity android:name=".MainSwipeVegLunch3"/>


        <activity android:name=".VegOrNonVeg.Vegetarian"/>
        <activity android:name=".VegOrNonVeg.NonVegetarian"/>

        <activity android:name=".BreakfastLunchOrDinner.VegDinner"/>
        <activity android:name=".BreakfastLunchOrDinner.VegBreakfast"/>
        <activity android:name=".BreakfastLunchOrDinner.VegLunch"/>
        <activity android:name=".BreakfastLunchOrDinner.NonvegBreakfast"/>
        <activity android:name=".BreakfastLunchOrDinner.NonvegLunch"/>
        <activity android:name=".BreakfastLunchOrDinner.NonvegDinner"/>

        <activity android:name=".CuisineActivity.Cuisines"/>
        <activity android:name=".CuisineActivity.CuisinesActivityNonvegBreakfast"/>
        <activity android:name=".CuisineActivity.CuisinesActivityNonvegDinner"/>
        <activity android:name=".CuisineActivity.CuisinesActivityNonvegLunch"/>
        <activity android:name=".CuisineActivity.CuisinesActivityVegBreakfast"/>
        <activity android:name=".CuisineActivity.CuisinesActivityVegLunch"/>
        <activity android:name=".CuisineActivity.CuisinesActivityVegDinner"/>

        <activity android:name=".DietActivity.DietActivityVegBreakfast"/>
        <activity android:name=".DietActivity.DietActivityVegLunch"/>
        <activity android:name=".DietActivity.DietActivityVegDinner"/>
        <activity android:name=".DietActivity.DietActivityNonvegBreakfast"/>
        <activity android:name=".DietActivity.DietActivityNonvegLunch"/>
        <activity android:name=".DietActivity.DietActivityNonvegDinner"/>



    </application>

</manifest>